<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8" />
<link rel="stylesheets"  href="recipes.scss">
<link href="https://use.fontawesome.com/releases/v5.15.0/css/all.css" rel="stylesheet">
<title>タイトル</title>
<script
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script><script src="javascript/packs/recipes.js" ></script>
</head>
<body>
<div class=hole_area>
  <div class=header>
    <div class= header_left>
      <span>タイトル</span>
    </div>
    <div class=header_right>
      <% if user_signed_in? %>
        <a class="fas fa-user-circle header_right_mypage" href="#"></a>
        <div class="header_right_menu">
        </div>
        <div class=name><%= current_user.name %></div>
        <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
      <% else %>
        <%= link_to "rogin", new_user_session_path, class: 'header_right_rogin' %>
      <% end %>
    </div> 
  </div>
  <div class=main>
    <div class=main_tags>タブ</div>
    <div class=main_posts>
      <% @recipes.each do |recipe| %>
        <div class=main_posts_post>
          <div class=main_posts_post_title><%= recipe.title%></div>
          <div><%= recipe.explain %></div>
        </div>
      <% end %>
   </div>  
  </div>
</div>
</body>
</html>