<%= form_for :data, method: :post, url: recipes_path do |f| %>


  <div class=new_area>
    <div class=new_area_title>NEW RECIPE</div>
    <span>タイトル</span>
    <div><%= f.text_field :title %></div>
    <span>材料</span>
    <div><%= f.text_field :nm_material %></div>
    <span>分量</span>
    <div><%= f.text_field :amnt_material %></div>  
    <span>手順の説明</span>
    <div><%= f.text_area :explain %></div>
    <span>レシピの公開</span>
    <div>
      <div>
        <%= f.radio_button :is_browsable, checked: @recipe.is_browsable.to_i == 1 || @recipe.is_browsable.blank?  %>
        <%= f.label :is_browsable, '公開する　', value: 1 %>
      </div>
      <div>
        <%= f.radio_button :is_browsable, checked: @recipe.is_browsable.to_i == 0 %>
        <%= f.label :is_browsable, '公開しない', value: 0 %>
      </div>
    </div>
  
  <%= f.submit '登録' %>
  <div class=btn_to_home>
    <%= link_to "ホームへ戻る", recipes_path, class: 'btn_to_home' %>
    <%= link_to "詳細", recipe_path('1'), class: 'btn_to_home' %>
  </div>
  </div>
<% end %>